:root{
  --myYellow:#FFBB29;
  --navbarBg:#1D1F25;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.poppinsFont{
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: clashDisplay;
  src: url("./assets/font/ClashDisplay-Regular.otf");
}

